@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

header {
    width: 100%;
   
}

.header-div {
    text-align: center;
}

#logo-img {
    height: 7vh;
}

hr {
    margin: 0;
    color: rgb(81, 208, 243);
    background: rgb(81, 208, 243);
    border: 0;
    height: 1px;
}

.header-p {
    padding: 10px;
    margin: 0px;
    background-color: lightyellow;
    color: #148fb8;
}

main {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    text-align: center;
    font-family: 'Playfair', serif;
    font-weight: 700;
}

#p-image {
    text-align: center;
    color: grey;
}

.feature {
    color: red;
    margin-bottom: 0;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}